body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("pictures/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-right: 25em;
  margin-left: 25em;
  margin: 0 auto;
  max-width: 30em;
  min-width: 15em;
}
