* {
  text-decoration: none;
}

.bg-img {
  -webkit-filter: blur(4px);
  transform: scale(1.01);
  background-image: url("pictures/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 30em;
  min-width: 15em;
}

h1 {
  padding: 5px;
  border-bottom: 3px solid gray;
}

p {
  text-align: center;
  font-size: 19px;
  color: #fff;
}

ul{
  width: 100%;
  position: relative;
  margin-left: -2.5em;
  list-style-type: none;
}

li a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: #DFDFDF;
}

a:hover{
  background-color: #0066cc;
  color: #0066cc;
  color: white;
}

a:visited {
  color: #0066cc;
}

a:visited:hover {
  color: #fff;
}

li:first-child {
  margin-top: -1.5em;
}

.whitebody{
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 20px #000;
}