body{
	margin: 0;
	padding: 0;
  	width: auto;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: .2em;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #686868;
}
*{
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	background-color: #E0E0E0;
	position: fixed;
	left: 0;
	top: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  z-index: 50;
}
header h1{
	text-align: center;
	font-size: 2.5em;
	color: black;
  margin: 0;
  margin-top: .5em;
}
input{
  display: none;
}
label{
  font-size: 2em;
  cursor: pointer;
}
input:checked ~ nav{
  height: 14.51em;
  transition: all 1s ease;
}
nav{
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.topmenu {
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #cccccc;
  padding-left: 0;
  }
  .topmenu li {
    display: block;
    list-style-type: none;
    padding: .6em 1em;
    font-size: 1.5em;
    text-align: center;
    transition: background-color .2s ease; 
  }
  .topmenu li{
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
  }
  .topmenu li:active{
    background-color: #000;
    color: #fff;
  }








/***********30em og yfir*****************************/

@media screen and (min-width: 48em) {
  .checkbox{
    display: none;
  }
  nav{
    height: 3.4em;
  }
  input:checked ~ nav{
  height: 3.4em;
  transition: height .5s ease;
  }
  .topmenu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #E0E0E0;
  }
  .topmenu li {
    display: inline-block;
    list-style-type: none;
    padding: .6em 1em;
    font-size: 1.4em;
  }
  .topmenu li{
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease, background-color .4s ease;
  }
  .topmenu li:hover{
    background-color: #000;
    color: #fff;
    transition: color 1s ease, background-color .8s ease;
  }
}
