body{
	margin: 0;
	padding: 0;
  	width: auto;
  	height: auto;
  	font-family: 'Raleway', sans-serif;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: .2em;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #686868;
}
*{
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	background-color: #E0E0E0;
	position: fixed;
	left: 0;
	top: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  z-index: 50;
}
header h1{
	text-align: center;
	font-size: 2.5em;
	color: black;
  margin: 0;
  margin-top: .5em;
}
header h1, hr{
	display: none;
}
.input1{
  display: none;
}
.checkbox{
  font-size: 2em;
  cursor: pointer;
}
.input1:checked ~ nav{
  height: 14.51em;
  transition: all 1s ease;
}
nav{
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.topmenu {
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #cccccc;
  padding-left: 0;
  }
  .topmenu li {
    display: block;
    list-style-type: none;
    padding: .6em 1em;
    font-size: 1.5em;
    text-align: center;
    transition: background-color .2s ease; 
  }
  .topmenu li{
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
  }
  .topmenu li:active{
    background-color: #000;
    color: #fff;
  }

  /*   Section  */

section{
	margin-top: 5em;
	margin-bottom: 3em;
}
.section2{
	margin-top: 4em;
	margin-bottom: 3em;
}
.askrift h1{
	font-size: 2.5em;
	text-align: center;
	margin-bottom: .3em;
}
.askrift fieldset{
	border: 3px solid black;
	background-color: #d9d9d9;
	font-size: 1.7em;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
    outline: none;
    transition: border 0.5s ease;
}
input[type=text]:focus{
    border: 3px solid black;
    transition: border 0.5s ease;
}
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
    outline: none;
    transition: border 0.5s ease;
}
input[type=email]:focus{
    border: 3px solid black;
    transition: border 0.5s ease;
}
input[type=submit] {
    width: 100%;
    background-color: #46CFC1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
input[type=submit]:active {
    background-color: #3fbb99;
}

/********************************** Eigendur ************************************/
.eigendur_myndir h1, p{
	text-align: center;
  transition: font-size .5s ease;
}
.mynd{
	width: 100%;
}

/********************************** Photos ************************************/
.photos{
	max-width: 70em;
	margin: 0 auto;
}.photo{
	width: 100%;
}
.description {
  position: relative;
  bottom: 0;
  width: auto;
  opacity: 0;
  color: white;
  background-color: black;
  z-index: 1;
  opacity: 1;
  transition: width 1s ease, border-radius 1s ease;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.photo:hover{
	cursor: pointer;
}
.photo:active ~ .description{
	transition: width 1s ease, border-radius 1s ease;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.description p{
	font-size: 1.4em;
  padding: 1em;
}


/********************************** Heim Takki **********************************/
.home-button {
  border: 0;
  background: #0087cc;
  width: 9em;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: 0;
  margin: 0 auto;
  padding: 12px 20px;
  transition: all .1s linear;
}
.home-button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.thanx{
	width: 80%;
	margin: 0 auto;
}
.thanx h1, h3{
	text-align: center;
}

/*  Footer */

footer {
  font-family: 'Raleway', sans-serif;
  background-color: #1C1C1C;
  text-align: center;
  color: #46CFC1;
  height: 18em;
  position: relative;
}
.footer2{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 10em;
}
.bottom-menu{
  margin: 0;
  padding: 0;
  text-align: center;
}
.bottom-menu li{
   display: block;
   list-style-type: none;
   padding: .6em 1em;
   font-size: 1em;
   text-align: center;
   color: #fff;
}
.bottom-menu li:hover{
    text-decoration: none;
}
.bottom-menu li:active{
    text-decoration: underline;
}




/***********30em og yfir*****************************/

@media screen and (min-width: 48em) {
	header h1, hr{
		display: block;
	}
  .checkbox{
    display: none;
  }
  nav{
    height: 3.4em;
  }
  .input1:checked ~ nav{
  height: 3.4em;
  transition: height .5s ease;
  }
  .topmenu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #E0E0E0;
  }
  .topmenu li {
    display: inline-block;
    list-style-type: none;
    padding: .6em 1em;
    font-size: 1.4em;
  }
  .topmenu li{
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease, background-color .4s ease;
  }
  .topmenu li:hover{
    background-color: #000;
    color: #fff;
    transition: color 1s ease, background-color .8s ease;
  }
  .askrift{
    width: 48em;
    margin: 0 auto;
  }
  section{
	margin-top: 10em;
	margin-bottom: 3em;
  }
  .section2{
	margin-top: 11em;
	margin-bottom: 3em;
  }
  .bottom-menu li:hover{
    text-decoration: underline;
  }
  footer {
  height: 10em;
  }
  .bottom-menu li{
   font-size: 2em;
   display: inline-block;
  }
  /**************** Eigendur ********************/
  .eigendur_myndir{
    width: 48em;
    margin: 0 auto;
    margin-top: 10em;
  }
  .eigendur_myndir p{
    font-size: 1.5em;
    transition: font-size .5s ease;
  }
  .eigendur_myndir h1{
    font-size: 2em;
  }
  /********************************** Photos ************************************/
	.photos{
		max-width: 70em;
		margin: 0 auto;
	}.photo{
		width: 100%;
	}
	.description {
	  position: relative;
	  bottom: 10em;
	  width: 80%;
	  opacity: 0;
	  color: white;
	  background-color: black;
	  z-index: 1;
	  opacity: 1;
	  transition: width 1s ease, border-radius 1s ease;
	  border-top-right-radius: 5em;
	  border-bottom-right-radius: 5em;
	}
	.photo:hover{
		cursor: pointer;
	}
	.photo:hover ~ .description{
		width: 95%;
		transition: width 1s ease, border-radius 1s ease;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.description p{
		font-size: 1.6em;
	  padding: 1em;
	}
}


/*	Main Body 	*/

.snorri_top-row {
	width: 100%;
	max-height: inherit;
	overflow: hidden;
}
.snorri_main {
  margin-top: 4.8em;
  background-color: #fff;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.snorri_big-news {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.snorri_big-news img {
  width: 100%;
  height: 100%;
}
.snorri_news {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
.snorri_news img {
  width: 100%;
  height: 100%;
}
.snorri_description {
  position: absolute;
  bottom: 3px;
  width: 30em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
.snorri_big-news .snorri_description {
  width: 100%;
}
.snorri_news .snorri_description {
  width: 100%;
  text-align: center;
}

/*Snorri Main Responsive*/
@media screen and (min-width: 60em) {
	.snorri_top-row {
		float: left;
		margin-bottom: 3px;
	}
	.snorri_main {
		margin: 0 auto;
		margin-top: 4.8em;
		width: 80%;
	}
	.snorri_big-news {
		float: left;
		width: 65%;
		margin-right: 0.4em;
    -webkit-transition: all .3s ease;
	}
	.snorri_news {
		float: left;
		width: 49.8%;
		-webkit-transition: all .3s ease;
	}
    .snorri_news:first-child {
      margin-right: 3px;
  
	}
	.snorri_ad {
		position: relative;
		width: 34%;
		border: 1px solid #000;
		overflow: hidden;
		margin-top: 1em;
	}
	.snorri_ad img {
		height: 100%;
		width: 100%;
		z-index: 0;	
	}
	.snorri_ad-text {
		color: #46CFC1;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		position: absolute;	
		bottom: 0;
    -webkit-animation-name: ad-anim;
    -webkit-animation-duration: 12s;
    animation-name: ad-anim;
    animation-duration: 12s;
    animation-iteration-count: infinite; 
		z-index: 1;
	}
	@keyframes ad-anim {
  {-webkit-animation-timing-function: ease;}
					{animation-timing-function: ease;}
    0%   {top: 27em;}
    25%  {top: 0em;}
		70%  {top: 0em;}
		100% {top: 27em;}
	}

	.snorri_description {
		 height: 0;
		 -webkit-transition: all .3s ease;
	}
	.snorri_big-news a,
	.snorri_news a {
		 -webkit-transition: .description .3s ease; 
	}
  .snorri_big-news .snorri_description {
     bottom: -2px;
  }
  .snorri_news .snorri_description {
     bottom: 5px;
  }
  .snorri_big-news:hover .snorri_description {
		 height: 10em;
     bottom: -2px;
		-webkit-transition: .description .3s ease;
	}
	.snorri_news:hover .snorri_description {
		height: 5em;
    bottom: 5px;
		-webkit-transition: .description .3s ease;
	}
	.snorri_big-news a:hover img,
	.snorri_news a:hover img {
		-webkit-transition: .description .4s ease;	
		-webkit-filter:blur(4px);
	}
}